

.am-carousel-wrap-dot > span {
    display: block;
    width: 0.08rem;
    height: 0.08rem;
    margin: 0 0.03rem;
    border-radius: 50%;
    background: #ccc;
}


.bannerImg{
    display: block;
    position: relative;
    box-shadow: 0 10px 40px rgba(0,0,0,.15);
}

.space_carousel{
    padding: 1.7rem 0;
}